{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	{% if title %}
	<title>Othieno Galleria - {{title}}</title>
	{% else %}
	<title>Othieno Galleria</title>
	{% endif %}

	{% block styles %}
	{% bootstrap_css %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	{% endblock %}

</head>
<body>
	
	<!-- The Navbar -->
	{% include "navbar.html" %}

	<!-- Content section -->
	{% block content %}

	{% endblock %}

	<!-- The Footer -->
	{% include 'footer.html' %}

	<!-- The styling and restructuring Scripts -->
	{% block scripts %}
	{% bootstrap_javascript %}
	{% endblock %}

</body>
</html>